%section.more-actions
  .container
    .row
      .col-sm-4
        .image
          %a{href: "https://act.eff.org/action/reform-computer-crime-law"}
            = image_tag "#{image_url('aaron.png')}", alt: "Aaron"
        .text
          %h3
            Reform Computer Crime Law
          %p
            In memory of Aaron Swartz, ask Congress to support fix the Computer Fraud and Abuse Act and clarifying the meaning of the word "unauthorized" and to make penalties proportionate to their offenses.
          %a{href: "https://act.eff.org/action/reform-computer-crime-law"}
            %span.link-div.hidden-xs
          %a.btn.btn-lg.btn-red.visible-xs{href: "https://act.eff.org/action/reform-computer-crime-law"}
            Take Action

      .col-sm-4
        .image
          %a{href: "https://act.eff.org/action/stop-the-cyber-bills"}
            = image_tag "#{image_url('CISA-banner-1.png')}", alt: "Cisa banner 1"

        .text
          %h3
            Stop the "Cyber" Bills
          %p
            It’s Not Information Sharing—It's Surveillance
          %a{href: "https://act.eff.org/action/stop-the-cyber-bills"}
            %span.link-div.hidden-xs
          %a.btn.btn-lg.btn-red.visible-xs{href: "https://act.eff.org/action/stop-the-cyber-bills"}
            Take action

      .col-sm-4
        .image
          %a{href: "https://act.eff.org/action/let-s-stand-together-to-promote-open-access-worldwide"}
            = image_tag "#{image_url('diego_gomez-2b.png')}", alt: "Diego gomez 2b"
        .text
          %h3
            Let’s stand together to promote open access worldwide.
          %p
            Diego Gomez, a Colombian graduate student, currently faces up to eight years in prison for doing something thousands of researchers do every day: posting research results online for those who would not otherwise have a way to access them.
          %a{href: "https://act.eff.org/action/let-s-stand-together-to-promote-open-access-worldwide"}
            %span.link-div.hidden-xs
          %a.btn.btn-lg.btn-red.visible-xs{href: "https://act.eff.org/action/let-s-stand-together-to-promote-open-access-worldwide"}
            Take action

    %p.seemore
      %a{href: "https://act.eff.org/action"}
        See all our campaigns
