= simple_form_for action, url: {action: "create"}, html: {class: "petition-tool"} do |f|
  %fieldset
    = f.input :email, placeholder: "Email", class: "form-control", label: false
  %fieldset
    = f.input :firstname, placeholder: "First Name", class: "form-control", label: false
  %fieldset
    = f.input :lastname, placeholder: "Last Name", class: "form-control", label: false
  %fieldset
    %span.intl-toggle
      .row
        .col-xs-6
          = f.input :zipcode, placeholder: "Zip Code", title: "Enter your 5 or 9 digit zip code", class: "form-control user-error", label: false
        .col-xs-6
          %a.intl-toggler.pull-right.hidden-if-no-js
            Outside the US?
  %fieldset
    .checkbox.small
      %label.small
        = f.check_box :anonymous
        Don't show my name or city on this page (we'll only list your country).
    .email-signup
      I
      #do-subscribe.styledRadio{role:"radio", tabindex: "0", style:"width: 15px; height: 15px; cursor: pointer; background-position: 0px -15px;", title: "want"}
        =  f.radio_button :subscribe, "1", checked: true
      %label.radio-inline
        want
      #do-not-subscribe.styledRadio{role: "radio", tabindex: "-1", style: "width: 15px; height: 15px; cursor: pointer; background-position: 0px 0px;", title: "do not want"}
        = f.radio_button :subscribe, "0"
      %label.radio-inline
        do not want
      to sign up for mailings from
      %b
        EFF
  = f.submit "Speak Out", class: "btn"
